.main_card {
    display: flex;
    gap: 20px;
    width: 50%;
height: 130px;

    border-radius: 8px;
    cursor: pointer;
}
.image_section{
    min-width: 20%;
    max-width: 20%;
border-radius: 12px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
    

.text_section{
display: flex;
flex-direction: column;
align-items: flex-start;
/* justify-content: center; */
 
}
.text_section p{
    text-align: left;
    margin-top: -10px;
    font-size: .9rem;
}

.text_section h3:hover{
    color: #2BB19C;
}