@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100vw;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  outline: none;
}

.input:focus {
  width: 100%;
  outline: none;
}

/* .input:not(:focus) + .search-results-container {
  display: none;
} */
.search-results-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.search-results-container .search-result {
  padding: 10px;
  font-size: 14px;
}

.search-results-container .search-result:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.search-results-container .search-result:first-child {
  border-top: none;
}

.search-results-container .search-result:last-child {
  border-bottom: none;
}

input:focus + .search-results-container,
input:not(:placeholder-shown) + .search-results-container {
  display: block;
}

.highlight {
  font-weight: bold;
}
/*






:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

.tooltip::before {
  content: "";
  position: absolute;
  bottom: calc(100% - 30px); /* Adjust this value to position the arrow */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.cardFooter::-webkit-scrollbar {
  display: none;
}
.cardFooter {
  -ms-overflow-style: none; /* IE and Edge */
  overflow: -moz-scrollbars-none; /* Firefox */
}
